body {
    margin: 0;
    height: 100vh;
    font-size: 1.2rem;
}

.keyword {
    color: #1f56ad;
}

.sf svg path {
    fill: black;
}

.orlando svg path {
    fill: #1f56ad;
}

.sf svg, .orlando svg {
    width: 100vw;
    height: auto;
}

.sf {
    width: 100vw;
    position: absolute;
    bottom: 0;
    opacity: 0.3;
    animation: sfFadeOut 1500ms 1 forwards;
    animation-delay: 3000ms;
    pointer-events: none;
}

.orlando {
    width: 100vw;
    position: absolute;
    bottom: 0;
    opacity: 0;
    animation: mcoFadeIn 1500ms 1 forwards;
    animation-delay: 3000ms;
    pointer-events: none;
}

@keyframes sfFadeOut {
    100% {
        opacity: 0;
    }
}

@keyframes mcoFadeIn {
    100% {
        opacity: .8;
    }
}

.about {
    padding: 5vh 15vw;
    position: absolute;
}

.about p {
    background: rgba(241, 241, 241, .7);
    /* background-color: #f1f1f1; */
}