body {
    background-color: #FFF;
    color: #4A4A4A;
    font-size: 1.1rem;
    height: 100vh;
    line-height: 1.4em;
    margin: 0;
}

.text-invert {
    color: #fff;
    background: #4a4a4a;
    padding: 0 4px;
}

h1 {
    font-size: 25px;
    font-style: normal;
    letter-spacing: 1px;
    line-height: 1.2em;
    text-transform: none;
}

p {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0px;
    margin-block-start: 0;
}

.keyword {
    color: #1f56ad;
}

hr {
    background-color: rgba(74,74,74,.15);
    border-style: none;
    border-width: 0;
    border: none;
    box-sizing: content-box;
    color: rgba(74,74,74,.15);
    height: 1px;
    margin: 32px 0;
}

.about {
    -moz-box-sizing: border-box;
    -moz-osx-font-smoothing: auto;
    -webkit-box-sizing: border-box;
    -webkit-font-smoothing: subpixel-antialiased;
    box-sizing: border-box;
    margin: auto;
    max-width: 1020px;
    padding: 96px 32px;
    width: auto;
}